
.body_error{
    background: linear-gradient(15deg, rgb(0, 13, 61), transparent), url(https://grainy-gradients.vercel.app/noise.svg);   
    filter: contrast(190%) brightness(120%);
    height: 100vh;
    color: white;
}
.error_title{
    font-size: 2.5rem;
}
/* .error_button{
    background-color: rgb(84, 86, 255);
    padding: 0.7rem;
    border-radius: 0.7rem;
}
.error_button :hover{
    background-color: rgb(0, 3, 161);
    padding: 0.7rem;
    border-radius: 0.7rem;
} */
.error_404{
    font-size: 1.1rem;
}
.error_quotes{
    font-weight: 100;
}
.line_error{
    border-left: solid 2px white;
    width: 2rem;
    height: 10vh;
}